body {
    background-image: url("yahoo/frame2-1.gif");
    background-size: 100%; 
}
img {
   width: 50%;
   margin: auto;
   display: block;
   margin-top: 10vh;
}
.arrow {
  position: absolute;
  width: 6%;
  top: 55%;
  left: 29%;
}  
.arrow:hover{
  opacity: 0.5;
}
.mission {
    width: 15%;
    position: absolute;
    top: 60%;
    left: 43%;
}
.mission:hover{
    opacity: 0.5;
}