body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;}
h1 {
  color: white;
}

#myImg {
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
  max-width: 130px;
}
#myImg2 {
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
  max-width: 130px;
}
#myImg3 {
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
  max-width: 130px;
}
#myImg4 {
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
  max-width: 130px;
}
#myImg5 {
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
  max-width: 130px;
}
#myImg6 {
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
  max-width: 130px;
}
#myImg7 {
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
  max-width: 130px;
}
#myImg8 {
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
  max-width: 130px;
}
#myImg9 {
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
  max-width: 130px;
}

#myImg:hover {
  box-shadow: 0px 0px 80px white;
  max-width: 150px;
}
#myImg2:hover {
  box-shadow: 0px 0px 80px white;
  max-width: 150px;
}
#myImg3:hover {
  box-shadow: 0px 0px 80px white;
  max-width: 150px;
}
#myImg4:hover {
  box-shadow: 0px 0px 80px white;
  max-width: 150px;
}
#myImg5:hover {
  box-shadow: 0px 0px 80px white;
  max-width: 150px;
}
#myImg6:hover {
  box-shadow: 0px 0px 80px white;
  max-width: 150px;
}
#myImg7:hover {
  box-shadow: 0px 0px 80px white;
  max-width: 150px;
}
#myImg8:hover {
  box-shadow: 0px 0px 80px white;
  max-width: 150px;
}
#myImg9:hover {
  box-shadow: 0px 0px 80px white;
  max-width: 150px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* The Modal2 (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* The Modal3 (background) */
.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* The Modal4 (background) */
.modal4 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* The Modal5 (background) */
.modal5 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* The Modal6 (background) */
.modal6 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* The Modal7 (background) */
.modal7 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* The Modal8 (background) */
.modal8 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* The Modal9 (background) */
.modal9 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 25%;
  max-width: 700px;
}

/* Modal Content2 (image) */
.modal-content2 {
  margin: auto;
  display: block;
  width: 25%;
  max-width: 700px;
}

/* Modal Content3 (image) */
.modal-content3 {
  margin: auto;
  display: block;
  width: 25%;
  max-width: 700px;
}

/* Modal Content4 (image) */
.modal-content4 {
  margin: auto;
  display: block;
  width: 25%;
  max-width: 700px;
}

/* Modal Content5 (image) */
.modal-content5 {
  margin: auto;
  display: block;
  width: 25%;
  max-width: 700px;
}

/* Modal Content6 (image) */
.modal-content6 {
  margin: auto;
  display: block;
  width: 25%;
  max-width: 700px;
}

/* Modal Content7 (image) */
.modal-content7 {
  margin: auto;
  display: block;
  width: 25%;
  max-width: 700px;
}

/* Modal Content8 (image) */
.modal-content8 {
  margin: auto;
  display: block;
  width: 25%;
  max-width: 700px;
}

/* Modal Content9 (image) */
.modal-content9 {
  margin: auto;
  display: block;
  width: 25%;
  max-width: 700px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* Add Animation2 */
.modal-content2, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* Add Animation3 */
.modal-content3, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* Add Animation4 */
.modal-content4, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* Add Animation5 */
.modal-content5, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* Add Animation6 */
.modal-content6, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* Add Animation7 */
.modal-content7, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* Add Animation8 */
.modal-content8, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* Add Animation9 */
.modal-content9, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* The Close2 Button */
.close2 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close2:hover,
.close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* The Close3 Button */
.close3 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close3:hover,
.close3:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* The Close4 Button */
.close4 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close4:hover,
.close4:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* The Close5 Button */
.close5 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close5:hover,
.close5:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* The Close6 Button */
.close6 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close6:hover,
.close6:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* The Close7 Button */
.close7 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close7:hover,
.close7:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* The Close8 Button */
.close8 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close8:hover,
.close8:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* The Close9 Button */
.close9 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close9:hover,
.close9:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* 100% Image Width on Smaller Screens2 */
@media only screen and (max-width: 700px){
  .modal-content2 {
    width: 100%;
  }
}

/* 100% Image Width on Smaller Screens3 */
@media only screen and (max-width: 700px){
  .modal-content3 {
    width: 100%;
  }
}

/* 100% Image Width on Smaller Screens4 */
@media only screen and (max-width: 700px){
  .modal-content4 {
    width: 100%;
  }
}

/* 100% Image Width on Smaller Screens5 */
@media only screen and (max-width: 700px){
  .modal-content5 {
    width: 100%;
  }
}

/* 100% Image Width on Smaller Screens6 */
@media only screen and (max-width: 700px){
  .modal-content6 {
    width: 100%;
  }
}

/* 100% Image Width on Smaller Screens7 */
@media only screen and (max-width: 700px){
  .modal-content7 {
    width: 100%;
  }
}

/* 100% Image Width on Smaller Screens8 */
@media only screen and (max-width: 700px){
  .modal-content8 {
    width: 100%;
  }
}

/* 100% Image Width on Smaller Screens9 */
@media only screen and (max-width: 700px){
  .modal-content9 {
    width: 100%;
  }
}