body{
    background-color: black;
}
h1 {
    color: white;
    margin-top: 50px;
    text-align: center;
}
div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
img {
    width: 150px;
    height: 150px;
    margin: 5px;
}
.mercury{
    border-radius: 50%;
}
.mercury:hover{
    box-shadow: 0px 0px 100px white;
    width: 160px;
    height: 160px;
    transition: 1s;
}
.venus{
    border-radius: 50%;
}
.venus:hover{
    box-shadow: 0px 0px 100px white;
    width: 160px;
    height: 160px;
    transition: 1s;
}
.venus{
    border-radius: 50%;
}
.venus:hover{
    box-shadow: 0px 0px 100px white;
    width: 160px;
    height: 160px;
    transition: 1s;
}
.earth{
    border-radius: 50%;
}
.earth:hover{
    box-shadow: 0px 0px 100px white;
    width: 160px;
    height: 160px;
    transition: 1s;
}
.earth{
    border-radius: 50%;
}
.earth:hover{
    box-shadow: 0px 0px 100px white;
    width: 160px;
    height: 160px;
    transition: 1s;
}
.mars{
    border-radius: 50%;
}
.mars:hover{
    box-shadow: 0px 0px 100px white;
    width: 160px;
    height: 160px;
    transition: 1s;
}
.jupiter{
    border-radius: 50%;
}
.jupiter:hover{
    box-shadow: 0px 0px 100px white;
    width: 160px;
    height: 160px;
    transition: 1s;
}
.saturn{
    border-radius: 50%;
}
.saturn:hover{
    box-shadow: 0px 0px 100px white;
    width: 160px;
    height: 160px;
    transition: 1s;
}
.uranus{
    border-radius: 50%;
}
.uranus:hover{
    box-shadow: 0px 0px 100px white;
    width: 160px;
    height: 160px;
    transition: 1s;
}
.neptune{
    border-radius: 50%;
}
.neptune:hover{
    box-shadow: 0px 0px 100px white;
    width: 160px;
    height: 160px;
    transition: 1s;
}
.pluto{
    border-radius: 50%;
}
.pluto:hover{
    box-shadow: 0px 0px 100px white;
    width: 160px;
    height: 160px;
    transition: 1s;
}
td,
th {
  border: 1px solid #ddd;
  padding: 20px;
}
.td-img {
    width: 500px;
    height: 690px;
}
.td-sun {
    width: 520px;
    height: 620px;
}
</style>